.admin__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow: hidden;
  }
.admin__top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
  
.admin__top h1 {
    font-size: 2rem;
    border-bottom:3px solid rgb(38, 38, 195);
}
  
.admin__bottom {
    display: flex;
    width: 100%;
    height: calc(100% - 50px); 
    overflow: hidden;
}
  
.adminb__left,
.adminb__right {
    height: 100%;
    overflow-y: auto;
    border-radius: 1rem;
    background-color:rgb(250, 250, 250);
    padding:1rem;
    margin: 0 1rem;
    flex: 1;
    max-height: 80vh;
}

.adminb__left::-webkit-scrollbar{
    width:0;
}
.adminb__right::-webkit-scrollbar{
    width:0;
}

  

