.seeker__main{
    display:flex;
    justify-content:center;
}
div>input{
    width:100%;
}
.seeker__left{
    flex:4;
}
.seeker__right{
    flex:1;
    height:70vh;
    color:rgb(255, 255, 255);
    background-color:rgb(59, 53, 53);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}