.seeker__main{
    display:flex;
    justify-content:center;
}
div>input{
    margin:1.5rem 0;

    width:90%;
}
div>h1{
    margin-bottom:1.5rem
}
.seeker__left{
    flex:2;
    margin-left:3rem;
}
.seeker__right{
    flex:1;
    margin-top:1rem;
    padding-left:1rem;
    height:70vh;
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border-left:1px solid rgb(0, 0, 0);
}